<!DOCTYPE html>
<html lang="en" class="notranslate">
<head>
  <meta charset="UTF-8" />
  <title>Enigma</title>
  <meta http-equiv="content-language" content="en" />
  <meta name="google" content="notranslate" />
  
  <link rel="stylesheet" href="{{ asset('assets/app.css') }}">
  <script src="{{ asset('assets/app.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  @include('partials/nav')

  <div class="col-12 p-4">
    @section('mainContent') 
      <p> The default main content </p>
    @endsection
  </div>
  
</body>
</html>
