<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vault</title>
  <link rel="stylesheet" href="/yeti/bootstrap.min.css">
  <script src="/yeti/jquery.min.js"></script>
  <script src="/yeti/bootstrap.bundle.min.js"></script>
  {{ cspMeta() }}
</head>
<body>
  @include('partials/nav')

  <div class="col-12 p-4">
    @section('mainContent') 
      <p> The default main content </p>
    @endsection
  </div>
  
</body>
</html>