@layout('master')

@section('mainContent') 
<div class="d-flex justify-content-center align-items-center">
	<form action="{{ route('create_new_service') }}" method="post">
		{{ csrfField() }}
		<div class="form-group">
		<label for="exampleInputEmail1">Enter service path name</label>
		<input type="text" name="path" class="form-control" id="path" placeholder="Path">
		</div>
		<button class="btn btn-success" type="submit">Create</button>
	</form>
</div>
@endsection